# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

backend/chroma_db/
backend/uploaded_pdfs/
backend/venv/
backend/.env

frontend/node_modules/
frontend/.env